extends layouts/frontend

block content.aligned.center.aligned.grid.six.column
            form(method="post", action="/login").stacked.segment
                    +field('email', 'mail', 'mail@address.com')
                    +field('password', 'password', 'Password')
                    button(type="submit").fluid.large.teal.submit.button Login

                    .error.message
            a(href="/signIn").submit.button Sign In    

mixin field(type, name, placeholder).field.icon.input
            i.icon(class=(type === 'password' ? 'lock' : 'user'))
            input(type=type, name=name, placeholder=placeholder, required=true)
